<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.comoqueta.comoquetasaude.android"
    >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"
        />

    <application
        android:name=".application.AndroidApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ComoQueTa"
        >
        <meta-data
            android:name="android.app.default_searchable"
            android:value="br.com.comoqueta.comoquetasaude.android.activities.MainActivity"
            />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"
            />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDolPochbNJ5NWuvvEWX8D7P2799e5GcA8"
            />

        <activity
            android:name=".activities.SplashScreenActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.HomeActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|navigation"
            android:label="@string/title_activity_home"
            android:launchMode="singleTop"
            >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"
                />
        </activity>
        <activity
            android:name=".activities.MapActivity"
            android:label="@string/title_map_activity"
            android:screenOrientation="landscape"
            />

        <provider
            android:name=".providers.SuggestionsProvider"
            android:authorities="br.com.comoqueta.comoquetasaude.android.providers.SuggestionsProvider"
            android:exported="false"
            />

        <activity
            android:name=".activities.UnidadeAtendimentoActivity"
            android:label="@string/title_activity_unidade_atendimento"
            android:parentActivityName=".activities.HomeActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.comoqueta.comoquetasaude.android.activities.HomeActivity"
                />
        </activity>
        <activity
            android:name=".activities.StreetViewActivity"
            android:label="@string/title_activity_street_view"
            android:parentActivityName=".activities.HomeActivity"
            android:screenOrientation="landscape"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.comoqueta.comoquetasaude.android.activities.HomeActivity"
                />
        </activity>
        <activity
            android:name=".activities.NovaAvaliacaoActivity"
            android:label="@string/title_activity_nova_avaliacao"
            android:parentActivityName=".activities.UnidadeAtendimentoActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|navigation"
            android:windowSoftInputMode="stateHidden"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.comoqueta.comoquetasaude.android.activities.UnidadeAtendimentoActivity"
                />
        </activity>

        <activity
            android:name="com.parse.ui.ParseLoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            >
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.PARSE_LOGIN_ENABLED"
                android:value="true"
                />
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.PARSE_LOGIN_EMAIL_AS_USERNAME"
                android:value="true"
                />
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.FACEBOOK_LOGIN_ENABLED"
                android:value="true"
                />
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.FACEBOOK_LOGIN_BUTTON_TEXT"
                android:value="Logar com Facebook"
                />
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.TWITTER_LOGIN_ENABLED"
                android:value="true"
                />
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.TWITTER_LOGIN_BUTTON_TEXT"
                android:value="Logar com Twitter"
                />
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.APP_LOGO"
                android:resource="@mipmap/ic_launcher"
                />
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.PARSE_LOGIN_BUTTON_TEXT"
                android:value="Logar"
                />
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.PARSE_SIGNUP_BUTTON_TEXT"
                android:value="Cadastrar"
                />
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.PARSE_LOGIN_HELP_TEXT"
                android:value="Esqueci minha senha"
                />
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.PARSE_LOGIN_INVALID_CREDENTIALS_TEXT"
                android:value="O email ou a senha informada não é válido"
                />
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.PARSE_SIGNUP_SUBMIT_BUTTON_TEXT"
                android:value="Cadastrar"
                />
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name"
            />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"
            />
    </application>

</manifest>
